*{
margin:0 auto;
}
table{
 border:1px solid red;
 width:900px;
 margin:0 auto;
}
table td {
    border:1px solid #000;
     border:1px solid black;
}
table tr{
 border:1px solid #000;
     border:1px solid black;
}
body{
background-image:url(../img/portfolio-1.jpg)
border:500xp;
}